
* {

    margin: 0;
    padding: 0;
}

header {

    display: flex;
    justify-content: center;
}

.top-container {

    height: 90vh;
    overflow: hidden;

    z-index: -1;
    position: fixed;
}

.top-container img {

    width: 100%;
}

.top-container-overlay {

    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 80vh;
    height: 10vh;
    width: 40vw;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.top-container-overlay h1 {

    margin-top: 10px;
}