
.center-flex {

    display: flex;
    justify-content: center;
}

.content {

    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 170vh;
    height: 20vh;
    width: 45vw;

    border-radius: 10px;
}

.content p {

    padding: 5%;
    font-family: 'Handlee', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.content-2 {

    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 260vh;
    height: 20vh;
    width: 45vw;

    border-radius: 10px;
}

.content-2 p {

    padding: 5%;
    font-family: 'Handlee', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.content-3 {

    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 350vh;
    height: 20vh;
    width: 45vw;

    border-radius: 10px;
}

.content-3 p {

    padding: 5%;
    font-family: 'Handlee', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.copyright {

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: white;

    opacity: 0.8;
}

.devart-icon img {

    width: 16px;
    height: 16px;
}

.download-btn {

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-top: 8px;
    padding: 8px 40px;
    border: 1px solid #636363;
    font-size: 1.1rem;

    transition: all 0.3s ease;

    border-radius: 10px;
}

.download-btn:hover {

    cursor: pointer;
    background-color: initial;
    outline: none;
    border: 1px solid #636363;

    transform: translateY(-3px);
}

.download-btn:active {

    transform: translateY(8px);
}

.footer-1 {

    margin-left: 27vw;
    position: absolute;
    top: 560vh;

    background-color: rgba(0, 0, 0, 0.4);

    border-radius: 20px;
    width: 55vw;
}

.footer-2 {

    
    margin-left: 27vw;
    position: absolute;
    top: 587vh;

    background-color: rgba(0, 0, 0, 0.4);

    border-radius: 20px;
    width: 55vw;
}

.footer-1 ul li a, .footer- ul li a {

    transition: all 0.2s ease-in;
}

.footer-1 ul li a:hover, .footer-2 ul li a:hover {

    opacity: 0.8;
}

.footer-3 {

    position: absolute;
    top: 643vh;
    height: 7vh;
    width: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.4);

    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    z-index: 1;
}

.footer-3 div {

    height: min-content;
    width: min-content;
}

.footer-3 div div {

    color: white;
    height: fit-content;
}

.footer-1 ul, .footer-2 ul {

    list-style-type: none;
    display: inline-block;
    padding: 20px 60px;
    width: 180px;
}

.footer-h3 {

    color: white !important;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
    font-size: 1.2rem !important;
}

.float-right {

    float: right;
}

.mar-rt {

    margin-right: 280px;
}

.overlay-2 {

    backdrop-filter: blur(4px);
    /* position: absolute; */
    /* top: 450vh; */
    width: -webkit-fill-available;
    height: 100vh;
}

.overlay-2 div, .footer-1, .footer-2, .footer-3 {

    display: flex;
    justify-content: space-between;
}

.pad-rt {

    padding-right: 400px;
}

.showcase-1 {

    position: relative;

    background-image: url("./../img/S1.jpg");
    height: 90vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
}

.showcase-2 {

    position: relative;

    background-image: url("./../img/S2.jpg");
    height: 90vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
}

.showcase-3 {

    position: relative;

    background-image: url("./../img/S3.jpg");
    height: 90vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
}

.showcase-4 {

    position: relative;

    background-image: url("./../img/S4.jpg");
    height: 90vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;

    transition: all 0.4s ease-in;
}

.showcase-6 {

    position: relative;

    background-image: url("./../img/S6.jpg");
    height: 100vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;

    transition: all 0.4s ease-in;
}

.showcase-7 {

    position: relative;

    background-image: url("./../img/S6.jpg");
    height: 100vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;

    transition: all 0.4s ease-in;
}

.social {

    margin-top: 10px;
    user-select: none;
    display: flex;
}

.social div {

    padding-right: 5px;
}

.social div a {

    color: white !important;
    opacity: 0.8;   

    transition: all 0.2s ease-in;
}

.social div a:hover {

    opacity: 1;
    cursor: pointer;
}

.copyright:hover {

    cursor: pointer;
}

.social div a:visited {

    color: white !important;
}

@media screen and (max-width: 1100px) {

    .overlay-2 {

        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .overlay-2 div {

        display: block;
    }

    .footer-1 ul, .footer-2 ul {

        display: block;
        padding: 20px 30px;
    }

    .footer-2 {

        top: 60vh;
    }

    .footer-1, .footer-2 {

        width: 30vw;
        margin-left: 0;
        min-width: 220px
    }
}
