
.center-flex {

    display: flex;
    justify-content: center;
}

.content {

    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 170vh;
    height: 20vh;
    width: 45vw;

    border-radius: 10px;
}

.content p {

    padding: 5%;
    font-family: 'Handlee', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.content-2 {

    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 260vh;
    height: 20vh;
    width: 45vw;

    border-radius: 10px;
}

.content-2 p {

    padding: 5%;
    font-family: 'Handlee', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.download-btn {

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-top: 8px;
    padding: 8px 40px;
    border: 1px solid #636363;
    font-size: 1.1rem;

    transition: all 0.3s ease;

    border-radius: 10px;
}

.download-btn:hover {

    cursor: pointer;
    background-color: initial;
    outline: none;
    border: 1px solid #636363;

    transform: translateY(-3px);
}

.download-btn:active {

    transform: translateY(8px);
}

.showcase-1 {

    position: relative;

    background-image: url("./../img/S1.jpg");
    height: 90vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
}

.showcase-2 {

    position: relative;

    background-image: url("./../img/S2.jpg");
    height: 90vh;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
}