
* {

    margin: 0;
    padding: 0;
}

a {

    color: black;
}

a:visited {

    color: black;
}

header {

    display: flex;
    justify-content: center;
}

.top-container {

    height: 90vh;
    overflow: hidden;
    width: -webkit-fill-available;

    z-index: -1;
    /* position: fixed; */
    background-attachment: fixed;
    background-size: cover;
    background-image: url("./../img/C1.jpg");
}

.top-container-overlay{

    text-align: center;
    background-color: whitesmoke;
    position: absolute;
    top: 80vh;
    height: 20vh;
    width: 45vw;

    border-radius: 10px;
}

.top-container-overlay h1, .content h1 {

    font-family: 'Mooli', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 2px;

    color: #2c2b2bdd;
}

.top-container-overlay h3, .content h3 {

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

    background-color: whitesmoke;
}

.top-container-overlay h3 a, .primary-link {

    text-decoration: none;
    border-bottom: 1px solid #636363;

    transition: all 0.5s ease;
}

.top-container-overlay h3 a:hover, .primary-link:hover {

    border-bottom: 1px solid transparent;
}